/* =========================
   CORPO DA PÁGINA
   (onde tudo começa)
========================= */

body {
    background-color: #1C1B22;
    text-align: center;
}


/* =========================
   HEADER (menu fixo no topo)
   (se quebrar aqui, ferrou tudo 👍)
========================= */

header {
    display: grid;
    color: #ffffff;
    background-color: #0B0A10;
    
    padding: 10px;
    border: 1px solid #7B2CBF;

    position: sticky;
    top: 0; /* Mantém o header no topo — tipo um grude elegante */
    z-index: 1000; /* Fica por cima de tudo (ego elevado) */
    
    grid-template-columns: 1fr 1fr 4fr 4fr; 
    grid-template-areas: 
        "logo nome_logo nome_site nome_site";
    
    align-items: center;
}

#logo {
    width: 61px; /* esse número é a proporção áurea de 100 : 100/ 1,618) */
    height: 61px;
    grid-area: logo;
    justify-self: end; /* Cola a logo no nome (amizade forte) */
}

#nome_logo {
    font-size: 18px;
    grid-area: nome_logo;
    justify-self: start;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

#nome_site {
    font-size: 50px;
    grid-area: nome_site;
    margin: 0;
    justify-self: start;
    padding-left: 250px; /* Empurrãozinho maroto pra direita */
}


/* =========================
   MAIN (conteúdo principal)
   (a parte que realmente importa)
========================= */

main {
    background-color: #1e1c2b;
    color: #ffffff;
    
    padding: 10px;
    margin-top: 20px;
}

#TituloCs {
    font-size: 100px;
    margin-bottom: 50px;
}

.Paragrafos {
    font-size: 20px;
    text-align: center; /* Se ficar feio, testa justify e reza */
    color: #CFCFCF;
}


/* =========================
   ASIDE (conteúdo logo em baixo)
   (o famoso "extra", mas importante)
========================= */

aside {
    background-color: #1e1c2b;
    color: #ffffff;
    
    padding: 10px;
    margin-top: 20px;
}


/* =========================
   FOOTER (rodapé)
   (ninguém lê, mas tá lá)
========================= */

footer {
    background-color: #0B0A10;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #7B2CBF;
}

#copy {
    font-size: 14px;
    margin: 15px;
}


/* =========================
   FIM
========================= */

/* Se chegou até aqui, parabéns — você leu mais que 90% das pessoas (talvez eu seja uma das 90%)😴 */