/*
 * AVISO: Estilos provisórios
 * Estes estilos são temporários e servem apenas para manter
 * a apresentação visual funcional durante o desenvolvimento.
 * Serão substituídos posteriormente por estilos completos e otimizados.
 * Deixado assim para melhor visualização de quem for entrar para testar.
 */

body{
    background-color: #121117; /* Cor escura para melhor contraste visual */
    color: black;   
    margin: 0; /* Remove a margem padrão do navegador */
    color: #EAEAEA; /* Cor clara para o texto, melhorando a legibilidade */
    font-family: Arial, sans-serif; /* Fonte legível e neutra */
    text-align: center; /* Centraliza o texto para melhor apresentação */
}

