body{
     background-color: #121117;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 40%;
    
}

h1{
    color: #f0a500;
    font-size: 70px;
}
h2{
    color: #f0a500;
    font-size: 50px;
}